.digitalCard-container {
    width: 100%;
    max-width: 1500px;
    padding: 30px;
    background-color: #ffffff33;
    border-radius: 7px;
    display: flex;
    justify-content: space-between;
    margin: 30px auto;

}

.digital-card-image {
    padding: 10px;
    width: 42%;
}

.digital-card-image img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.digital-card-detail {
    padding: 10px;
    width: 57%;
    padding-top: 70px;
}

.digital-logo-container {
    width: 100%;
    max-width: 400px;
    height: auto;

}

.digital-logo-container img {
    width: 100%;
    height: auto;
    object-fit: contain;
}


.digital-card-heading-container {
    width: 100%;
    height: auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.digital-card-heading {
    color: #ECD200;
}

.heading-with-point {
    display: flex;
    align-items: center;
    column-gap: 2px;
}

.heading-with-point span {
    font-size: .8rem;
}

.digital-card-heading-container p {
    font-size: .9rem;
}

.digital-card-link-container {
    margin-top: 30px;
}

.digital-card-link-container h3 {
    font-weight: 300;
    font-size: 1.5rem;
    word-spacing: -4px;
}

.digital-card-link-container>h3 a {
    color: #ECD200;
    text-decoration: underline;
}

.digital-collect-spacing {
    margin-top: 30px;
}

/****** superHeroWorldCard*****/

.superHeroWorldCard-container {
    width: 100%;
    height: auto;
    display: flex;
    column-gap: 2rem;

}

.superHeroWorldCard-text-side {
    width: 35%;
    height: auto;
    position: relative;
}

.superHeroWorldCard-heading {
    font-size: 1.4rem;
    color: #ECD200;
}

.revers {
    flex-direction: row-reverse;
}

.superHeroWorldCard-weapon {
    width: 100%;
    max-width: 540px;
    overflow: hidden;

}

.superHeroWorldCard-weapon img {
    width: 100%;
    height: auto;
    object-fit: contain;
    margin-top: 120px;
}

.superHeroWorldCard-weapon-left {
    margin-left: -35px;
}

.superHeroWorldCard-weapon-right {
    margin-right: -35px;
}


.superHeroWorldCard-detail {
    /* background-color: red; */
    width: fit-content;
}

.superHeroWorldCard-list {
    margin: 0;
    /* background: #3399ff; */
    padding-left: 20px;
}

.superHeroWorldCard-list li::marker {
    color: #ECD200;
}

/******** roadMapSildeCard ***********/

.roadMapSildeCard-container {
    width: 100%;
    height: auto;
    background-color: #ffffff52;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.roadmap-sno {
    color: transparent;
    font-size: 3rem;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: #ffff;
    z-index: 1;
    margin-right: 20px;
}

.roadmapp-heading {
    display: flex;
    align-items: center;
    column-gap: 2rem;

}

.roadmap-card-heading {
    color: #ECD200;
    text-transform: none;
}

.roadmap-status {
    width: 100%;
    max-width: 200px;
    height: auto;
    padding: 10px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


.roadmap-status-check {
    background-color: #ECD200;
    color: #000;
}

.roadmap-status-uncheck {
    border: 1px solid #ECD200;
    color: #fff;
}

/********* featureCard *********/

.featureCard-container {
    width: 100%;
    max-width: 320px;
    height: auto;
    padding: 10px;
    /* background: transparent linear-gradient(180deg, #0E0020 0%, #010001 51%, #0D001E 100%) 0% 0% no-repeat padding-box; */

}