.main-section {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url("../../public/assets/images/bg/hero-bg.png");
    background-repeat: no-repeat;
    background: transparent linear-gradient(180deg, #0E0020 0%, #010001 51%, #0D001E 100%) 0% 0% no-repeat padding-box;

}
