@font-face {
  font-family: 'Monaco';
  src: url('../../public/assets/fonts/monaco/Monaco.ttf') format('truetype');
  font-weight: 100; 
  font-style: normal; 
}
* {
  box-sizing: border-box !important;
  scroll-behavior: auto;
  transition: all .2 ease-in-out;
}


body {
  margin: 0;
  background: transparent linear-gradient(180deg, #0E0020 0%, #000000 100%) 0% 0% no-repeat padding-box;
  color: #fff;
  font-family: 'Monaco', monospace!important;
}

.container{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

h1,
h2,
h3,
h4,
h5 {
  letter-spacing: -.025em;
  margin: 0;
}

p {
  text-wrap: pretty;
  line-height: 130%;
  margin: 0;
}

a{
  text-decoration: none;
  color: #fff;
  line-height: 92.5%;
  letter-spacing: -.025em;
  margin: 0;
  transition-property: all;
  transition-duration: .3s; 
}

.section-heading {
  font-size: 5.5rem;
  font-weight: 700;
  text-transform: uppercase;
  transition-property: all;
  transition-duration: .5s;
}

button{
  cursor: pointer;
  text-wrap: balance;
  line-height: 92.5%;
  letter-spacing: -.025em;
  margin: 0;
  transition-property: all;
  transition-duration: .3s;
}

.relative{
position: relative;
}