@font-face {
  font-family: 'Monaco';
  src: url('../../public/assets/fonts/monaco/Monaco.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

* {
  box-sizing: border-box !important;
  scroll-behavior: auto;
  transition: all .2 ease-in-out;
}


body {
  margin: 0;
  width: 100%;
  height: auto;
  background: transparent linear-gradient(180deg, #0E0020 0%, #000000 100%) 0% 0% no-repeat padding-box;
  color: #fff;
  font-family: 'Monaco', monospace !important;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.fixed-container {
  width: 100%;
  max-width: 1500px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1,
h2,
h3,
h4,
h5 {
  letter-spacing: -.025em;
  margin: 0;
  text-wrap: pretty;

}

p {
  line-height: 150%;
  margin: 0;
}

a {
  text-decoration: none;
  color: #fff;
  line-height: 92.5%;
  letter-spacing: -.025em;
  margin: 0;
  transition-property: all;
  transition-duration: .3s;
}

.section-heading {
  font-size: 5.5rem;
  font-weight: 700;
  text-transform: uppercase;
  transition-property: all;
  transition-duration: .5s;
}

button {
  cursor: pointer;
  text-wrap: balance;
  line-height: 92.5%;
  letter-spacing: -.025em;
  margin: 0;
  transition-property: all;
  transition-duration: .3s;
}


.showdowButton {
  background-color: #060C03;
  color: #ECD200;
  border-radius: 5px;
  border: #ECD200;
  box-shadow: 5px 5px #ECD200;
  text-transform: uppercase;
  padding: 20px;
}

.showdowButton:hover {
  box-shadow: 5px 5px 6px #ECD200;
  background-color: rgb(11, 21, 4)
}


.rounded-yellow-button {
  background-color: #ECD200;
  color: #060C03;
  border: 1px solid #000000;
  border-radius: 9999px;
  border: #ECD200;
  text-transform: capitalize;
  min-height: 50px;
  padding: 2px 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rounded-yellow-button div {
  padding: 10px 25px;
  width: 100%;
  height: 100%;
  border: 3px solid #000;
  border-radius: 9999px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 600px;
}

.relative {
  position: relative;
}

.underline-heading {
  width: fit-content;
  color: #fff;
  font-size: 2rem;
  padding-bottom: 5px;
  text-transform: uppercase;
  font-weight: 500;
  border-bottom: 4px solid #7E1C29;
}

.field-heading {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 500;
  transition-property: all;
  transition-duration: .5s;
  text-wrap: nowrap;
  word-spacing: -10px;
}

.yellow-spot {
  position: absolute;
  width: 356px;
  height: 366px;
  transform: matrix(0.8, 0.6, -0.6, 0.8, 0, 0);
  background: #ECD200 0% 0% no-repeat padding-box;
  opacity: 0.17;
  filter: blur(50px);
}
